In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
display(data2)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
import pandas as pd
import numpy as np
#df = pd.DataFrame()
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#header mặc định bằng 0 - index hàng đầu tiên
#display(data)
data.columns  #xác định tên của các cột

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [2]:
import pandas as pd
import numpy as np
#df = pd.DataFrame()
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#header mặc định bằng 0 - index hàng đầu tiên
#display(data)
#data.columns  #xác định tên của các cột
data.columns = ['địa điểm','Mã SP','Tên SP','Đơn vị','tên đơn vị','tháng','năm','giá']
#chỉ định cột
#data.rename(columns = {'Place':'địa điểm','productionnam':'tên SP'},inplace = True)
#data2 = data.rename(columns = {'Place':'địa điểm','productionnam':'tên SP'},inplace = True)
#nếu các key nằm ko nằm trong danh sách thì sẽ bỏ qua và ko báo lỗi
#inplace = False ==> dùng khi tạo 1 data2 mới, chỉ thay đổi trên data2 copy, còn data gốc ko đổi
#inplace = True ==> thay đổi trực tiếp trên data gốc
data

,địa điểm,Mã SP,Tên SP,Đơn vị,tên đơn vị,tháng,năm,giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [3]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = 0
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,0
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,0
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,0
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,0
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,0
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,0

In [4]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [2]:
#XÓA CỘT
#del df["tên cột cần xóa"]
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data2 = data
del data2["tên cột mới"]
display(data)
display(data2)
#câu lệnh này xóa trên dữ liệu gốc và dữ liệu copy

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
#XÓA CỘT
#pop 
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data3 = data
data4 = data3.pop("tên cột mới")

display(data)
display(data3)
display(data4)
#câu lệnh này xóa trên dữ liệu gốc và dữ liệu copy nhưng hiện giá trị của cột đã xóa

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7376   NaN
7377   NaN
7378   NaN
7379   NaN
7380   NaN
Name: tên cột mới, Length: 7381, dtype: float64

In [1]:
#XÓA CỘT
#df.drop('tên cột cần xóa', axis = 1, inplace = True/False)
#axis = 1 = xóa cột
#inplace = True xóa trên dữ liệu gốc
#inplace = False ko xóa trên dữ liệu gốc
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data3 = data
data4 = data3.drop("tên cột mới", axis = 1) #mặc định inpace = False
# Xóa nhiều cột ==> đưa danh sách vào list
# data4 = data3.drop(["tên cột mới",'Price'], axis = 1)
display(data)
display(data3)
display(data4)
#chỉ có bản mới thực hiện lệnh xóa

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ - vị trí ở giữa 2 cột đã có
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data.insert(7,"chiết khấu",0.2) # 8 là STT của cột
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,chiết khấu,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,0.2,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,0.2,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,0.2,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,0.2,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,0.2,5.5099,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,0.2,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,0.2,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,0.2,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,0.2,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,0.2,51.6071,NaN

In [1]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ - vị trí ở giữa 2 cột đã có
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN
data.insert(7,"chiết khấu",20)
data.insert(9,"số lượng",50)
#đổi tên cột mới thành  "tổng" và có giá trị giá*số lượng*(100% - chiết khấu)

data2 = data.rename(columns = {'tên cột mới':'tổng'},inplace = True)
data["tổng"] = data["Price"]*data['số lượng']*(100-data['chiết khấu'])/100
#data ['tổng'] = data ['Giá'] * data ['Số lượng'] * (100-data ['Chiết khấu (%)'])/100

data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,chiết khấu,Price,số lượng,tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,20,4.4920,50,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,20,4.5786,50,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,20,4.7865,50,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,20,5.1337,50,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,20,5.5099,50,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,20,47.9040,50,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,20,49.1176,50,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,20,50.8347,50,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,20,51.7985,50,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,20,51.6071,50,2064.284

In [3]:
#THÊM 1 DÒNG MỚI VÀO CUỐI BẢNG
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
data.loc[data.shape[0]] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10]
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071
7381,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000

In [4]:
#THÊM 1 DÒNG MỚI VÀO ĐẦU BẢNG
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
data.loc[-1] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10] #mặc định thêm vào cuối bảng
data = data.sort_index() # sắp xếp lại index
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [6]:
#THÊM 1 DÒNG MỚI VÀO ĐẦU BẢNG
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
#update lại index

data.loc[-1] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10] #mặc định thêm vào cuối bảng
data.index = data.index + 1
data = data.sort_index() # sắp xếp lại index
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000
1,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
2,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
3,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
4,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [1]:
#THÊM 1 DÒNG MỚI VÀO VỊ TRÍ SAU SÀI GÒN
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
#update lại index

data.loc[-1] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10] #mặc định thêm vào cuối bảng
data.index = data.index + 1
data = data.sort_index() # sắp xếp lại index
data.loc[0.5] = ["Đà Nẵng",0,0,0,0,0,0,0]
data = data.sort_index().reset_index(drop = True)
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000
1,Đà Nẵng,0,0,0,0,0,0,0.0000
2,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
3,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
4,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [1]:
#XÓA DÒNG
#df.drop(index cột cần xóa, axis = 0, inplace = True/False)
#axis = 0 = xóa cột
#inplace = True xóa trên dữ liệu gốc
#inplace = False ko xóa trên dữ liệu gốc
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data2 = data.drop(0,axis = 0)
#Xóa nhiều dòng ==> đưa vào list
#data2 = data.drop([1,2,3],axis = 0)
display(data)
display(data2)
#chỉ có bản mới thực hiện lệnh xóa, ko reset lại index

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
#TRUY CẬP GIÁ TRỊ Ô DỮ LIỆU
#LOC (LOCATION) =  DỰA VÀO TÊN, số hoặc chữ đều đc
#ILOC (Interger LOCATION) = DỰA VÀO INDEX, chỉ dùng với số

In [5]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# Thêm 2 dòng có index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
#isplay(data.head(10)) hiển thị 10 dòng đầu tiên
#truy xuất dòng có chứa DaNang
data.loc[2.5]

Place           DaNang
ProductId           77
ProductName      BTCTH
UmId                 5
UmName              KG
Month                6
Year              2022
Price          77.1234
Name: 2.5, dtype: object

In [4]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# Thêm 2 dòng có index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
#isplay(data.head(10))
#truy xuất dòng có chứa DaNang
data.iloc[4]
#iloc số thứ tự dòng tính từ 0==>

Place           DaNang
ProductId           77
ProductName      BTCTH
UmId                 5
UmName              KG
Month                6
Year              2022
Price          77.1234
Name: 2.5, dtype: object

In [6]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# Thêm 2 dòng có index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
#isplay(data.head(10))
#truy xuất dòng có chứa DaNang và Thanh Hoa
data.loc[[2.5,-1]]
#data.iloc[[0,4]]

         Place  ProductId ProductName  UmId UmName  Month  Year    Price
 2.5    DaNang         77       BTCTH     5     KG      6  2022  77.1234
-1.0  ThanhHoa         66    Nem chua     5     KG      6  2022  66.1234

In [9]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# Thêm 2 dòng có index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
#isplay(data.head(10))
#truy xuất dòng từ Thanh Hóa đến Đà Nẵng
data.loc[-1:2.5]
#data.iloc[0:5]
#data.iloc[:5]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234

In [10]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# lấy cột có tên là product name
data.loc[:,"ProductName"]
#data.iloc[:,2] #số thứ tự từ 0

0                 Rice - Retail
1                 Rice - Retail
2                 Rice - Retail
3                 Rice - Retail
4                 Rice - Retail
                 ...
7376    Cocoa (powder) - Retail
7377    Cocoa (powder) - Retail
7378    Cocoa (powder) - Retail
7379    Cocoa (powder) - Retail
7380    Cocoa (powder) - Retail
Name: ProductName, Length: 7381, dtype: object

In [11]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# lấy nhiều cột: lấy cột có tên là Pr #ProductName và Place
data.loc[:,['ProductName','Place']]
#có thể dùng để thay đổi vị trí cho nhau
#data.iloc[:,[2,0]]
#số thứ tự từ 0

                  ProductName             Place
0               Rice - Retail  National Average
1               Rice - Retail  National Average
2               Rice - Retail  National Average
3               Rice - Retail  National Average
4               Rice - Retail  National Average
...                       ...               ...
7376  Cocoa (powder) - Retail             Izmir
7377  Cocoa (powder) - Retail             Izmir
7378  Cocoa (powder) - Retail             Izmir
7379  Cocoa (powder) - Retail             Izmir
7380  Cocoa (powder) - Retail             Izmir

[7381 rows x 2 columns]

In [14]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# lấy nhiều cột: lấy cột liền nhau: lấy cột có tên là ProductId tới UmName
data.loc[:,'ProductId':'UmName']
#data.iloc[:,1:5]
#có thể dùng để thay đổi vị trí cho nhau
#data.iloc[:,[2,0]]
#số thứ tự từ 0

      ProductId              ProductName  UmId UmName
0            52            Rice - Retail     5     KG
1            52            Rice - Retail     5     KG
2            52            Rice - Retail     5     KG
3            52            Rice - Retail     5     KG
4            52            Rice - Retail     5     KG
...         ...                      ...   ...    ...
7376        502  Cocoa (powder) - Retail     5     KG
7377        502  Cocoa (powder) - Retail     5     KG
7378        502  Cocoa (powder) - Retail     5     KG
7379        502  Cocoa (powder) - Retail     5     KG
7380        502  Cocoa (powder) - Retail     5     KG

[7381 rows x 4 columns]

In [1]:
#chọn hàng và cột
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data.loc[9] = ['NhaTrang', 66, 'Cá ngựa khô', 5, 'KG', 6, 2022, 66.1234]
#lấy cột từ Place tới ProductName và 10 hàng từ DaNang
#data.loc[2.5:11,'Place':'ProductName']
data.iloc[4:14,0:3]
#data.loc[2.5:11,'Place':'ProductName'] #XEM LẠI

                 Place  ProductId    ProductName
4.0   National Average         52  Rice - Retail
5.0   National Average         52  Rice - Retail
6.0   National Average         52  Rice - Retail
7.0   National Average         52  Rice - Retail
8.0   National Average         52  Rice - Retail
9.0           NhaTrang         66    Cá ngựa khô
10.0  National Average         52  Rice - Retail
11.0  National Average         52  Rice - Retail
12.0  National Average         52  Rice - Retail
13.0  National Average         52  Rice - Retail

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data.loc[9] = ['NhaTrang', 66, 'Cá ngựa khô', 5, 'KG', 6, 2022, 66.1234]
data.loc[9,'ProductName']
#lấy 1 dòng cá ngựa khô
#data.iloc[11,2]

'Cá ngựa khô'

In [3]:
#Slicer
data.iloc[0:100:2,0:7:2]
#a là điểm bắt đầu, b + 1, c: khoảng cách

                 Place           ProductName UmName  Year
0.0   National Average         Rice - Retail     KG  2013
2.0   National Average         Rice - Retail     KG  2013
4.0   National Average         Rice - Retail     KG  2014
6.0   National Average         Rice - Retail     KG  2014
8.0   National Average         Rice - Retail     KG  2014
10.0  National Average         Rice - Retail     KG  2014
12.0  National Average         Rice - Retail     KG  2014
14.0  National Average         Rice - Retail     KG  2014
16.0  National Average         Rice - Retail     KG  2015
18.0  National Average         Rice - Retail     KG  2015
20.0  National Average         Rice - Retail     KG  2015
22.0  National Average         Rice - Retail     KG  2015
24.0  National Average         Rice - Retail     KG  2015
26.0  National Average         Rice - Retail     KG  2015
28.0  National Average         Rice - Retail     KG  2016
30.0  National Average         Rice - Retail     KG  2016
32.0  National Average         Rice - Retail     KG  2016
34.0  National Average         Rice - Retail     KG  2016
36.0  National Average         Rice - Retail     KG  2016
38.0  National Average         Rice - Retail     KG  2016
40.0  National Average         Rice - Retail     KG  2017
42.0  National Average         Rice - Retail     KG  2018
44.0  National Average         Rice - Retail     KG  2018
46.0  National Average         Rice - Retail     KG  2018
48.0  National Average         Rice - Retail     KG  2018
50.0  National Average         Rice - Retail     KG  2018
52.0  National Average         Rice - Retail     KG  2018
54.0  National Average         Rice - Retail     KG  2019
56.0  National Average         Rice - Retail     KG  2019
58.0  National Average         Rice - Retail     KG  2019
60.0  National Average         Rice - Retail     KG  2019
62.0  National Average         Rice - Retail     KG  2019
64.0  National Average         Rice - Retail     KG  2019
66.0  National Average  Wheat flour - Retail     KG  2013
68.0  National Average  Wheat flour - Retail     KG  2013
70.0  National Average  Wheat flour - Retail     KG  2014
72.0  National Average  Wheat flour - Retail     KG  2014
74.0  National Average  Wheat flour - Retail     KG  2014
76.0  National Average  Wheat flour - Retail     KG  2014
78.0  National Average  Wheat flour - Retail     KG  2014
80.0  National Average  Wheat flour - Retail     KG  2014
82.0  National Average  Wheat flour - Retail     KG  2015
84.0  National Average  Wheat flour - Retail     KG  2015
86.0  National Average  Wheat flour - Retail     KG  2015
88.0  National Average  Wheat flour - Retail     KG  2015
90.0  National Average  Wheat flour - Retail     KG  2015
92.0  National Average  Wheat flour - Retail     KG  2015
94.0  National Average  Wheat flour - Retail     KG  2016
96.0  National Average  Wheat flour - Retail     KG  2016
98.0  National Average  Wheat flour - Retail     KG  2016

In [4]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data.loc[9] = ['NhaTrang', 66, 'Cá ngựa khô', 5, 'KG', 6, 2022, 66.1234]
data['Place'][-1]
#cột Place index = -1

'ThanhHoa'

In [6]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data.loc[9] = ['NhaTrang', 66, 'Cá ngựa khô', 5, 'KG', 6, 2022, 66.1234]
data.at[0, 'Place']
#data.loc[0, 'Place']
#index và tên cột

'National Average'