In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
display(data2)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
import pandas as pd
import numpy as np
#df = pd.DataFrame()
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#header mặc định bằng 0 - index hàng đầu tiên
#display(data)
data.columns  #xác định tên của các cột

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [2]:
import pandas as pd
import numpy as np
#df = pd.DataFrame()
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#header mặc định bằng 0 - index hàng đầu tiên
#display(data)
#data.columns  #xác định tên của các cột
data.columns = ['địa điểm','Mã SP','Tên SP','Đơn vị','tên đơn vị','tháng','năm','giá']
#chỉ định cột
#data.rename(columns = {'Place':'địa điểm','productionnam':'tên SP'},inplace = True)
#data2 = data.rename(columns = {'Place':'địa điểm','productionnam':'tên SP'},inplace = True)
#nếu các key nằm ko nằm trong danh sách thì sẽ bỏ qua và ko báo lỗi
#inplace = False ==> dùng khi tạo 1 data2 mới, chỉ thay đổi trên data2 copy, còn data gốc ko đổi
#inplace = True ==> thay đổi trực tiếp trên data gốc
data

,địa điểm,Mã SP,Tên SP,Đơn vị,tên đơn vị,tháng,năm,giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [3]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = 0
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,0
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,0
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,0
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,0
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,0
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,0

In [4]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [2]:
#XÓA CỘT
#del df["tên cột cần xóa"]
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data2 = data
del data2["tên cột mới"]
display(data)
display(data2)
#câu lệnh này xóa trên dữ liệu gốc và dữ liệu copy

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
#XÓA CỘT
#pop 
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data3 = data
data4 = data3.pop("tên cột mới")

display(data)
display(data3)
display(data4)
#câu lệnh này xóa trên dữ liệu gốc và dữ liệu copy nhưng hiện giá trị của cột đã xóa

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7376   NaN
7377   NaN
7378   NaN
7379   NaN
7380   NaN
Name: tên cột mới, Length: 7381, dtype: float64

In [1]:
#XÓA CỘT
#df.drop('tên cột cần xóa', axis = 1, inplace = True/False)
#axis = 1 = xóa cột
#inplace = True xóa trên dữ liệu gốc
#inplace = False ko xóa trên dữ liệu gốc
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data3 = data
data4 = data3.drop("tên cột mới", axis = 1) #mặc định inpace = False
# Xóa nhiều cột ==> đưa danh sách vào list
# data4 = data3.drop(["tên cột mới",'Price'], axis = 1)
display(data)
display(data3)
display(data4)
#chỉ có bản mới thực hiện lệnh xóa

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ - vị trí ở giữa 2 cột đã có
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN #thêm vào cuối bảng
data.insert(7,"chiết khấu",0.2) # 8 là STT của cột
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,chiết khấu,Price,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,0.2,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,0.2,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,0.2,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,0.2,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,0.2,5.5099,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,0.2,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,0.2,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,0.2,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,0.2,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,0.2,51.6071,NaN

In [1]:
#THÊM CỘT VÀO BẢNG ĐÃ CÓ - vị trí ở giữa 2 cột đã có
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data["tên cột mới"] = np.NaN
data.insert(7,"chiết khấu",20)
data.insert(9,"số lượng",50)
#đổi tên cột mới thành  "tổng" và có giá trị giá*số lượng*(100% - chiết khấu)

data2 = data.rename(columns = {'tên cột mới':'tổng'},inplace = True)
data["tổng"] = data["Price"]*data['số lượng']*(100-data['chiết khấu'])/100
#data ['tổng'] = data ['Giá'] * data ['Số lượng'] * (100-data ['Chiết khấu (%)'])/100

data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,chiết khấu,Price,số lượng,tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,20,4.4920,50,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,20,4.5786,50,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,20,4.7865,50,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,20,5.1337,50,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,20,5.5099,50,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,20,47.9040,50,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,20,49.1176,50,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,20,50.8347,50,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,20,51.7985,50,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,20,51.6071,50,2064.284

In [3]:
#THÊM 1 DÒNG MỚI VÀO CUỐI BẢNG
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
data.loc[data.shape[0]] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10]
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071
7381,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000

In [4]:
#THÊM 1 DÒNG MỚI VÀO ĐẦU BẢNG
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
data.loc[-1] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10] #mặc định thêm vào cuối bảng
data = data.sort_index() # sắp xếp lại index
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [6]:
#THÊM 1 DÒNG MỚI VÀO ĐẦU BẢNG
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
#update lại index

data.loc[-1] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10] #mặc định thêm vào cuối bảng
data.index = data.index + 1
data = data.sort_index() # sắp xếp lại index
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000
1,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
2,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
3,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
4,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [1]:
#THÊM 1 DÒNG MỚI VÀO VỊ TRÍ SAU SÀI GÒN
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
#data.shape[0] #đếm số dòng
#data.shape[1] #đếm số cột
#update lại index

data.loc[-1] = ["Sài Gòn",3000,'dưa hấu',5,'KG',10,2022,10] #mặc định thêm vào cuối bảng
data.index = data.index + 1
data = data.sort_index() # sắp xếp lại index
data.loc[0.5] = ["Đà Nẵng",0,0,0,0,0,0,0]
data = data.sort_index().reset_index(drop = True)
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,Sài Gòn,3000,dưa hấu,5,KG,10,2022,10.0000
1,Đà Nẵng,0,0,0,0,0,0,0.0000
2,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
3,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
4,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [1]:
#XÓA DÒNG
#df.drop(index cột cần xóa, axis = 0, inplace = True/False)
#axis = 0 = xóa cột
#inplace = True xóa trên dữ liệu gốc
#inplace = False ko xóa trên dữ liệu gốc
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
data2 = data.drop(0,axis = 0)
#Xóa nhiều dòng ==> đưa vào list
#data2 = data.drop([1,2,3],axis = 0)
display(data)
display(data2)
#chỉ có bản mới thực hiện lệnh xóa, ko reset lại index

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071